.block_downloader .adminbut{
	outline:none;
	height: auto;
	width: auto;
	font-family:"Nimbus Sans L","URW Gothic L",Arial,Tahoma,Helvetica,"Lucida Grande",Geneva,"DejaVu Sans","Microsoft Sans Serif",sans-serif;
	font-size: 11px;
	font-weight: bold;
    color:#FAFAFA;
	cursor: pointer;
	outline: none;
	border-bottom: 1.3px solid #A2682F;
	border-right: 1.3px solid #A26334;
	border-top: 1.3px;
	border-left: 1.3px;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
	background: #B06C34;
	background: -moz-linear-gradient(top,#CEB497,#B06C34);
	-moz-border-radius: 1em;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#CEB497', endColorstr='#B06C34',GradientType=0 );
	-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(startColorstr='#CEB497', endColorstr='#B06C34',GradientType=0)";
	background: linear-gradient(to bottom, #CEB497, #B06C34);
	background: -ms-linear-gradient(top, #CEB497, #B06C34);
	background: -o-linear-gradient(#CEB497,#B06C34);
	background: -webkit-gradient(linear, left top, left bottom, from(#CEB497), to(#B06C34));
	-webkit-border-radius: 1em;
	background: linear-gradient(#CEB497, #B06C34);
	border-radius: 1em 1em 1em 1em;
	white-space:normal;
}
.block_downloader .adminbut:hover{
	outline:none;
	height: auto;
	width: auto;
	font-family:"Nimbus Sans L","URW Gothic L",Arial,Tahoma,Helvetica,"Lucida Grande",Geneva,"DejaVu Sans","Microsoft Sans Serif",sans-serif;
	font-size: 11px;
	font-weight: bold;
    color:#FAFAFA;
	cursor: pointer;
	outline: none;
	border-bottom: 1.3px solid #A2682F;
	border-right: 1.3px solid #A26334;
	border-top: 1.3px;
	border-left: 1.3px;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
	background: #B06C34;
	background: -moz-linear-gradient(top,#CEB497,#B06C34);
	-moz-border-radius: 1em;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#CEB497', endColorstr='#B06C34',GradientType=0 );
	-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(startColorstr='#CEB497', endColorstr='#B06C34',GradientType=0)";
	background: linear-gradient(to bottom, #CEB497, #B06C34);
	background: -ms-linear-gradient(top, #CEB497, #B06C34);
	background: -o-linear-gradient(#CEB497,#B06C34);
	background: -webkit-gradient(linear, left top, left bottom, from(#CEB497), to(#B06C34));
	-webkit-border-radius: 1em;
	background: linear-gradient(#CEB497, #B06C34);
	border-radius: 1em 1em 1em 1em;
	white-space:normal;
}
.block_downloader .adminbut:active{
	outline:none;
	color:#D2D2D2;
	background: #8D562A;
	background: -moz-linear-gradient(top,#8D562A,#774923);
	-moz-border-radius: 1em;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8D562A', endColorstr='#774923',GradientType=0 );
	-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(startColorstr='#8D562A', endColorstr='#774923',GradientType=0)";
	background: linear-gradient(to bottom, #8D562A, #774923);
	background: -ms-linear-gradient(top, #8D562A, #774923);
	background: -o-linear-gradient(#8D562A,#774923);
	background: -webkit-gradient(linear, left top, left bottom, from(#8D562A), to(#774923));
	-webkit-border-radius: 1em;
	background: linear-gradient(#8D562A, #774923);
	border-radius: 1em 1em 1em 1em;
	white-space:normal;
}
.block_downloader .teacbut{
	height: auto;
	width: auto;
	font-family:"Nimbus Sans L","URW Gothic L",Arial,Tahoma,Helvetica,"Lucida Grande",Geneva,"DejaVu Sans","Microsoft Sans Serif",sans-serif;
	font-size: 11px;
	font-weight: bold;
    color:#FAFAFA;
	cursor: pointer;
	outline: none;
	border-bottom: 1.3px solid #347CA2;
	border-right: 1.3px solid #347CA2;
	border-top: 1.3px;
	border-left: 1.3px;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
	background: #3986B0;
	background: -moz-linear-gradient(top,#99BBCE,#3986B0);
	-moz-border-radius: 1em;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99BBCE', endColorstr='#3986B0',GradientType=0 );
	-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(startColorstr='#99BBCE', endColorstr='#3986B0',GradientType=0)";
	background: linear-gradient(to bottom, #99BBCE, #3986B0);
	background: -ms-linear-gradient(top, #99BBCE, #3986B0);
	background: -o-linear-gradient(#99BBCE,#3986B0);
	background: -webkit-gradient(linear, left top, left bottom, from(#99BBCE), to(#3986B0));
	-webkit-border-radius: 1em;
	background: linear-gradient(#99BBCE, #3986B0);
	border-radius: 1em 1em 1em 1em;
	white-space:normal;
}
.block_downloader .teacbut:hover{
	height: auto;
	width: auto;
	font-family:"Nimbus Sans L","URW Gothic L",Arial,Tahoma,Helvetica,"Lucida Grande",Geneva,"DejaVu Sans","Microsoft Sans Serif",sans-serif;
	font-size: 11px;
	font-weight: bold;
    color:#FAFAFA;
	cursor: pointer;
	outline: none;
	border-bottom: 1.3px solid #347CA2;
	border-right: 1.3px solid #347CA2;
	border-top: 1.3px;
	border-left: 1.3px;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
	background: #3986B0;
	background: -moz-linear-gradient(top,#99BBCE,#3986B0);
	-moz-border-radius: 1em;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99BBCE', endColorstr='#3986B0',GradientType=0 );
	-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(startColorstr='#99BBCE', endColorstr='#3986B0',GradientType=0)";
	background: linear-gradient(to bottom, #99BBCE, #3986B0);
	background: -ms-linear-gradient(top, #99BBCE, #3986B0);
	background: -o-linear-gradient(#99BBCE,#3986B0);
	background: -webkit-gradient(linear, left top, left bottom, from(#99BBCE), to(#3986B0));
	-webkit-border-radius: 1em;
	background: linear-gradient(#99BBCE, #3986B0);
	border-radius: 1em 1em 1em 1em;
	white-space:normal;
}
.block_downloader .teacbut:active{
	color:#D2D2D2;
	background: #2B6584;
	background: -moz-linear-gradient(top,#3A87B1,#2B6584);
	-moz-border-radius: 1em;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3A87B1', endColorstr='#2B6584',GradientType=0 );
	-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(startColorstr='#3A87B1', endColorstr='#2B6584',GradientType=0)";
	background: linear-gradient(to bottom, #3A87B1, #2B6584);
	background: -ms-linear-gradient(top, #3A87B1, #2B6584);
	background: -o-linear-gradient(#3A87B1,#2B6584);
	background: -webkit-gradient(linear, left top, left bottom, from(#3A87B1), to(#2B6584));
	-webkit-border-radius: 1em;
	background: linear-gradient(#3A87B1, #2B6584);
	border-radius: 1em 1em 1em 1em;
	white-space:normal;
}
.block_downloader .studbut{
	height: auto;
	width: auto;
	font-family:"Nimbus Sans L","URW Gothic L",Arial,Tahoma,Helvetica,"Lucida Grande",Geneva,"DejaVu Sans","Microsoft Sans Serif",sans-serif;
	font-size: 11px;
	font-weight: bold;
    color:#FAFAFA;
	cursor: pointer;
	outline: none;
	border-bottom: 1.3px solid #27792F;
	border-right: 1.3px solid #236D2A;
	border-top: 1.3px;
	border-left: 1.3px;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
	background: #5F9D3A;
	background: -moz-linear-gradient(top,#A0DD82,#5F9D3A);
	-moz-border-radius: 1em;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#A0DD82', endColorstr='#5F9D3A',GradientType=0 );
	-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(startColorstr='#A0DD82', endColorstr='#5F9D3A',GradientType=0)";
	background: linear-gradient(to bottom, #A0DD82, #5F9D3A);
	background: -ms-linear-gradient(top, #A0DD82, #5F9D3A);
	background: -o-linear-gradient(#A0DD82,#5F9D3A);
	background: -webkit-gradient(linear, left top, left bottom, from(#A0DD82), to(#5F9D3A));
	-webkit-border-radius: 1em;
	background: linear-gradient(#A0DD82, #5F9D3A);
	border-radius: 1em 1em 1em 1em;
	white-space:normal;
}
.block_downloader .studbut:hover{
	height: auto;
	width: auto;
	font-family:"Nimbus Sans L","URW Gothic L",Arial,Tahoma,Helvetica,"Lucida Grande",Geneva,"DejaVu Sans","Microsoft Sans Serif",sans-serif;
	font-size: 11px;
	font-weight: bold;
    color:#FAFAFA;
	cursor: pointer;
	outline: none;
	border-bottom: 1.3px solid #27792F;
	border-right: 1.3px solid #236D2A;
	border-top: 1.3px;
	border-left: 1.3px;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
	background: #5F9D3A;
	background: -moz-linear-gradient(top,#A0DD82,#5F9D3A);
	-moz-border-radius: 1em;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#A0DD82', endColorstr='#5F9D3A',GradientType=0 );
	-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(startColorstr='#A0DD82', endColorstr='#5F9D3A',GradientType=0)";
	background: linear-gradient(to bottom, #A0DD82, #5F9D3A);
	background: -ms-linear-gradient(top, #A0DD82, #5F9D3A);
	background: -o-linear-gradient(#A0DD82,#5F9D3A);
	background: -webkit-gradient(linear, left top, left bottom, from(#A0DD82), to(#5F9D3A));
	-webkit-border-radius: 1em;
	background: linear-gradient(#A0DD82, #5F9D3A);
	border-radius: 1em 1em 1em 1em;
	white-space:normal;
}
.block_downloader .studbut:active{
	color:#D2D2D2;
	background: #74A05E;
	background: -moz-linear-gradient(top,#87BB6E,#74A05E);
	-moz-border-radius: 1em;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87BB6E', endColorstr='#74A05E',GradientType=0 );
	-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(startColorstr='#87BB6E', endColorstr='#74A05E',GradientType=0)";
	background: linear-gradient(to bottom, #87BB6E, #74A05E);
	background: -ms-linear-gradient(top, #87BB6E, #74A05E);
	background: -o-linear-gradient(#87BB6E,#74A05E);
	background: -webkit-gradient(linear, left top, left bottom, from(#87BB6E), to(#74A05E));
	-webkit-border-radius: 1em;
	background: linear-gradient(#87BB6E, #74A05E);
	border-radius: 1em 1em 1em 1em;
	white-space:normal;
}